/* CSS files add styling rules to your content */

body {
  margin: 1em;
}
svg {
  margin: 1em auto;
  display: block;
  max-width: 80vw;
  max-height: 80vh;
}

#options {
    display: grid;
    grid-auto-flow: row;
    grid-gap: 0.5rem 1rem;
    grid-template-columns: repeat(4,1fr);
}

:root {
    --col-a: black;
    --col-b: white;
}

#board {
    fill: #ccc;
}

#board * {
    transition: fill 1s, stroke 1s, stroke-width 1s;
}

.polygon .outline {
    fill: none;
    stroke-width: var(--width-outline);
    stroke: var(--col-outline);
    stroke-linejoin: round;
}

#board.lines .polygon {
    fill: white;
}
#board.curves .polygon.a {
    fill: var(--col-a);
}
#board.curves .polygon.b {
    fill: var(--col-b);
}
#board.wedges .polygon.a {
    fill: var(--col-b);
}
#board.wedges .polygon.b {
    fill: var(--col-a);
}

.truchet-curve.a {
    fill: var(--col-b);
}
.truchet-curve.b {
    fill: var(--col-a);
}
.truchet-line.a {
    stroke: var(--col-a);
}
.truchet-line.b {
    stroke: var(--col-b);
}
.truchet-wedge.a {
    fill: var(--col-a);
}
.truchet-wedge.b {
    fill: var(--col-b);
}
